
  <div class="preloader">
    <img src="img/loader.gif" alt="Preloader image">
  </div>
  
  <section id="services" class="section section-padded">
    <div class="container">
      <div class="row text-center title">
        <h2>Services</h2>
        <h4 class="light muted">Achieve the best results with our wide variety of training options!</h4>
      </div>
      <div class="row services">
        <div class="col-md-4">
          <h3>新着</h3>
            <% @products.each do |product| %>
              <li>
                <a href="/products/<%= product.id %>">
                <div>
                  <h3 class="text-xsmall text-overflow" name="<%= product.name %> ">
                   <%= product.name %>
                  </h3>
                  <p class="text-small">
                    <% if product.reviews.present? %>
                    <span class="rating-star">
                      <i class="star-actived rate-<%= product.review_average %>0"></i>
                    </span>
                    <% else %>
                    <span class="rating-star">
                      <i class="star-actived rate-0"></i>
                    </span>
                    <% end %>
                  </p>
                </div>
                </a>
        
              </li>
            <% end %>

        </div>

        <div class="col-md-4">
          <h3>新着</h3>
            <% @reviews.each do |review| %>
              <li>
                <a href="/products/<%= review.product.id %>">
                <div>
                  <h3 class="text-xsmall text-overflow" name="<%= review.product.name %> ">
                   <%= review.product.name %>
                  </h3>
                  <p class="text-small">
                    <% if review.product.reviews.present? %>
                    <span class="rating-star">
                      <i class="star-actived rate-<%= review.product.review_average %>0"></i>
                    </span>
                    <% else %>
                    <span class="rating-star">
                      <i class="star-actived rate-0"></i>
                    </span>
                    <% end %>
                    <p>
                      <%= review.review %>
                    </p>
                  </p>
                </div>
                </a>
        
              </li>
            <% end %>

        </div>

      </div>
    </div>
  </section>

