
  <div class="preloader">
    <img src="img/loader.gif" alt="Preloader image">
  </div>
  
  <header id="intro">
    <div class="container">
      <div class="table">
        <div class="header-text">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="light white">Take care of your body.</h3>
              <h1 class="white typed">It's the only place you have to live.</h1>
              <span class="typed-cursor">|</span>

              <div class="container">
              <%= form_tag('/products/search', method: :get) do %>
                <input class="search__query" name="keyword" placeholder="作品名で検索" type="text" value=""><button class="btn-search" title="検索" type="submit"><i class="icon-search"></i></button></input>
              <% end %>
              <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
              </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </header>




  <section id="services" class="section section-padded">
    <div class="container">
      <div class="row text-center title">
        <h2>Services</h2>
        <h4 class="light muted">Achieve the best results with our wide variety of training options!</h4>
      </div>
      <div class="row services">
        <div class="col-md-4">
          <h3>新着</h3>
            <% @products.each do |product| %>
              <li>
                <a href="/products/<%= product.id %>">
                <div>
                  <h3 class="text-xsmall text-overflow" name="<%= product.name %> ">
                   <%= product.name %>
                  </h3>
                  <p class="text-small">
                    <% if product.reviews.present? %>
                    <span class="rating-star">
                      <i class="star-actived rate-<%= product.review_average %>0"></i>
                    </span>
                    <% else %>
                    <span class="rating-star">
                      <i class="star-actived rate-0"></i>
                    </span>
                    <% end %>
                  </p>
                </div>
                </a>
        
              </li>
            <% end %>

        </div>

        <div class="col-md-4">
          <h3>新着口コミ</h3>
            <% @reviews.each do |review| %>
              <li>
                <a href="/products/<%= review.product.id %>">
                <div>
                  <h3 class="text-small text-overflow" name="<%= review.product.name %> ">
                   <%= review.product.name %>
                  </h3>
                  <p class="text-small">
                    <% if review.product.reviews.present? %>
                    <span class="rating-star">
                      <i class="star-actived rate-<%= review.rate %>0">
                    </span>
                    <% else %>
                    <span class="rating-star">
                      <i class="star-actived rate-0"></i>
                    </span>
                    <% end %>
                    <p class="text-small text-overflow" title="<%= review.user.nickname %>">
                      <%= review.user.nickname %>
                    </p>
                    <p class="text-xsmall">
                      <%= review.review %>
                    </p>
                  </p>
                </div>
                </a>
        
              </li>
            <% end %>

        </div>

      </div>
    </div>
  </section>

