

<!DOCTYPE html>
<html class="pc" lang="ja" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
      <title>レビューサイト</title>
      <link href='http://fonts.googleapis.com/css?family=Signika:700,300,400,600' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
    </meta>
  </head>

  <nav class="navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="img/logo.png" data-active-url="img/logo-active.png" alt=""></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right main-nav">
          <% if user_signed_in? %>
            <li>
              <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
            </li>
            <li>
              <a href="/users/<%= current_user.id %>">マイページ</a>
            </li>
          <% end %>
          <li>
            <a href="/products/search">投稿する</a>
          </li>

          <li><a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue">Sign Up</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <header id="intro">
    <div class="container">
      <div class="table">
        <div class="header-text">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="light white">Take care of your body.</h3>
              <h1 class="white typed">It's the only place you have to live.</h1>
              <span class="typed-cursor">|</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>




  <body class="yj950-2">
    <div id="wrapper">
        <%= yield %>
          <aside class="section">
            <h4 class="text-small hr-bottom--thin no-space-bottom">
              <i class="icon-crown color-gray-light"></i>投稿ランキング
            </h4>
            <ul class="listview listview--condensed text-small">
              <% @ranking.each.with_index(1) do |product, i| %>
              <li data-cinema-id="346394">
                <a href="/products/<%= product.id %>">
                  <div class="box">
                    <div class="box__cell w40 align-center">
                      <p class="label bgcolor-gray-lighter align-center">
                        <%= i %>
                      </p>
                    </div>
                    <div class="box__cell pl1em">
                      <p class="text-xsmall no-space">
                        <%= product.name %>
                      </p>

                    </div>
                  </div>
                </a>
              </li>
              <% end %>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>

        <div class="copyright">
          Copyright (C) 2015  XXX Corporation. All Rights Reserved.
        </div>
      </div>
    </div>


  </body>
</html>